<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.algorithmapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_algorithm"
        android:label="Алгоритмдер"
        android:roundIcon="@drawable/ic_algorithm"
        android:supportsRtl="true"
        android:theme="@style/Theme.AlgorithmApp">

        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".LoginActivity"/>

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".AlgorithmDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".TestActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".ResultActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".AnswersActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".ResultActivity"/>

        <activity
            android:name=".MatchingGameActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".FindErrorGameActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".SortCodeGameActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"/>

    </application>

</manifest>